@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    U.S. Bank
</address>

<address>
    <strong>Support:</strong> <a href="mailto:amit.mahadar@usbank.com">amit.mahadar@usbank.com</a><br />
 </address>
